$theme-color-1 = #041A2C
$theme-color-2 = #456181
$theme-color-3 = #40afb9

$input-color = #000000

$base-color = #ffffff

$btn-color = $base-color
$btn-bg-color = $theme-color-3
$btn-bg-hover-color = darken($theme-color-3, 20%)

$link-color = $base-color
$link-hover-color = darken($theme-color-3, 20%)