buttonClass = 'btn'

.{buttonClass}
  &-default
    display inline-flex
    align-items center
    justify-content center
    background-color $btn-bg-color
    color $btn-color
    height 45px
    line-height 45px
    padding 0 15px
    border-radius 10px
    &:hover,
    &:active
      background-color $btn-bg-hover-color
      color $btn-color