titleClass = 'title'

.{titleClass}
  &-col
    margin-bottom 20px
    h1,h2,h3,h4,h5,h6
      margin-bottom 10px
      color $base-color
      font-size 25px
      @media (min-width: 768px)
        font-size 30px

  &-box
    .date
        display block
        margin-bottom 10px
        font-size 18px